name: Codeception

on: [push]

jobs:

  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    ############################################################################
    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.2'
        tools: composer, prestissimo
        coverage: none

      #https://github.com/actions/cache/blob/master/examples.md#php---composer
    - name: Cache composer packages
      id: composer-cache
      run: |
        composer config cache-files-dir
        echo "::set-output name=dir::$(composer config cache-files-dir)"
    - uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-

    - name: Update project dependencies
      run: |
        composer install --prefer-dist --no-progress --no-suggest
        composer dump-autoload --optimize
    ############################################################################

    - name: Run the tests
      run: ./vendor/bin/codecept run --xml

    - name: Archive unit tests results
      uses: actions/upload-artifact@v1
      with:
        name: codeception-output-files
        path: tests/_output/

#    - name: Report annotations
#      id: report-annotations
#      run: ./vendor/bin/cs2pr chkphpcs.xml
